/* Variables */
:root{
  --background-color: #f5f7fb;
  --text-color: #293264;
  --btn-color: #4d5b9e;
  --selection-color: #d6dbf5;
  --correction-color: #94d7a2;    
  --wrong-color: #f8bcbc;  
  --border-color: #dbdef0;
} 

/* Resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

/* images */
.top-blob{
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 200px;
}

.bottom-blob{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
}

.main{
  background-color: var(--background-color);
  height: 100vh;
}

/* Home page */
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.home-title{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.home-desc{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

/* Button */
.btn-link{
  text-decoration: none;
}

.btn{
  width: 200px;
  height: 60px;
  background-color: var(--btn-color);
  color: var(--background-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 16px;
  cursor: pointer;
}

.btn:hover{
  background-color: var(--text-color);
}


/* Questions page */
.question-list{
  display: flex;
  flex-direction: column;
  margin: 0 200px;
  padding: 100px 0;
}

.question{
  padding: 1.2rem 0;
  border-bottom: 1px solid var(--border-color);
}

.question-title{
  font-family: 'Karla',sans-serif;
  color: var(--text-color);
  font-size: 16px;
}

.answers-list{
  display: flex;
}

.answer{
  border-radius: 10px;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  font-family: 'Inter',sans-serif;
  font-size: 11px;
  margin-top: 1rem;
  margin-right: 2rem;
  padding: 8px;
  cursor: pointer;
}

.answer:hover{
  background-color: var(--selection-color);
  border: 1px solid transparent;
}

.questions-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  padding: 2rem;
  font-family: cursive;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.logo:hover{
  color: var(--btn-color);
}