/* Variables */
:root{
  --background-color: #f5f7fb;
  --text-color: #293264;
  --btn-color: #4d5b9e;
  --selection-color: #d6dbf5;
  --correction-color: #94d7a2;    
  --wrong-color: #f8bcbc;  
} 

/* Resets */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter',sans-serif;
}

/* images */
.top-blob{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
}

.bottom-blob{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 300px;
}

/* Home page */
.home{
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.home-title{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: var(--text-color);
  margin-bottom: 10px;
}

.home-desc{
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--text-color);
}

/* Button */
.btn{
  width: 200px;
  height: 60px;
  background-color: var(--btn-color);
  color: var(--background-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px 2px #252525;
  transition: 0.1s all ease-in-out;
}

.btn:hover{
  background-color: var(--text-color);
  font-weight: 600;
}